@{
  Layout = "_Layout";
}

<form action="/attack" method="post">
  <label for="queen-x">Queen X Coordinate</label>
  <input type="text" id="queen-x" name="queen-x">

  <label for="queen-y">Queen Y Coordinate</label>
  <input type="text" id="queen-y" name="queen-y">

  <label for="other-x">Other X Coordinate</label>
  <input type="text" id="other-x"name="other-x">

  <label for="other-y">Other Y Coordinate</label>
  <input type="text" id="other-y" name="other-y">

  <button type="submit" name="button">Attack?</button>
</form>
